:root {
  line-height: 1.5;
  font-weight: 400;
  --font-system: -apple-system, BlinkMacSystemFont, "SF Pro Text",
    "SF Pro Display", system-ui, Roboto, "Helvetica Neue", Arial, sans-serif;
  --primary-green: #008060;
  --primary: #000000;
  --secondary: #FFFFFF;

  font-family: var(--font-system);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

* {
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  background-color: #F6F6F8;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
}
